:root {
    --white-main: #FFFFFF;
    --gray-secondary: #C0C0C0;
    --btn-blue: #167BF7;
    --bg-color: #00030C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--bg-color);
    color: var(--white-main);
}
